:root {
    --body: #f4f6f9;
    --primary: #218c83;
    --primary-foreground: #f8fdfc;
    --background: #f8fbfb;
    --foreground: #1a2b36;
    --secondary: #ddf4f1;
    --accent: #ddf4f1;
    --destructive: #e7000b;
    --border: #dce2e6;
    --ring: #daeaea;
    --white: #ffffff;
    --muted: #8a97a0;

    --primary-text: #26313E;
    --secondary-text: #5B6774;


    /* ============================================
     PESO DAS FONTES (FONT WEIGHTS)
     ============================================ */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

} 