body{
    background: var(--body);
}

.content{
    display: flex;
    justify-content: left;
    margin: 50px 250px;
}

.cadastro {
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--white);
}


.cards {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--primary-foreground);
}

.card {
    padding: 20px;
}

.icon {
    height: 80px;
    width: 80px;
    font-size: 50px;
    padding: 5px;
    background-color: var(--ring);
    color: var(--primary) ;

    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title, .description {
    text-align: left;

}

.title h2 {
    font-size: 18px;
    color: var();
    text-align: left;
}

.description p {
    font-size: 12px;
    color: var(--cor-texto);
    text-align: left;
}