/* =========================================================
   IMPORTAÇÕES
   ========================================================= */

@import "variaveis.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";

/* =========================================================
   RESET / CONFIGURAÇÕES GERAIS
   ========================================================= */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 20px;

    background: var(--cor-fundo);
    color: var(--cor-texto);
}

a{
    cursor: pointer;
}


/* =========================================================
   TÍTULOS
   ========================================================= */

.title {
    color: var(--cor-principal);
    font-size: 35px;
    text-align: center;
}


/* =========================================================
   CARD
   ========================================================= */

.card {
    width: 100%;
    max-width: 390px;

    padding: 56px 25px 48px;

    background: var(--card);
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);

    position: relative;
}

.card--com-menu {

    width: 100%;
    max-width: 390px;


    padding: 56px 25px 48px;

    background: var(--card);
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);

    position: relative;
    padding-bottom: 100px;
}


/* =========================================================
   LINKS
   ========================================================= */

a {
    color: white;
    text-decoration: none;
}


/* =========================================================
   BOTÕES
   ========================================================= */

.btn {
    margin-top: 24px;

    padding: 15px;

    background: var(--cor-principal);
    color: var(--white);

    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;

    cursor: pointer;

    transition: background 0.2s;
}

.btn:hover {
    background: var(--azul-escuro);
}


/* =========================================================
   VOLTAR
   ========================================================= */

.back {
    margin-top: auto;
    padding-top: 25px;

    text-align: center;
}

.back a {
    color: var(--cor-principal);
    font-size: 14px;
}

.back a:hover {
    text-decoration: underline;
}


/* =========================================================
   FORMULÁRIO
   ========================================================= */

form {
    display: flex;
    flex-direction: column;
}


/* =========================================================
   CAMPOS DO FORMULÁRIO
   ========================================================= */

.form {
    position: relative;
    margin-bottom: 26px;
}

.form input {
    width: 100%;

    padding: 6px 20px 10px 0;

    background: transparent;
    color: var(--cor-texto);

    border: none;
    border-bottom: 1px solid var(--linha);

    outline: none;

    font-size: 15px;

    transition: border-color 0.2s;
}


/* Placeholder */

.form input::placeholder {
    color: var(--placeholder);
}


/* Campo selecionado */

.form input:focus {
    border-bottom: 1.5px solid var(--cor-principal);
}

/* =========================================================
   MENU INFERIOR
   ========================================================= */

.menu-inferior {
    position: fixed;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;

    height: 61px;

    background: var(--branco);

    border-top: 1px solid #dcdcdc;

    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: 10;
}


/* =========================================================
   ITEM DO MENU
   ========================================================= */

.item-menu {
    width: 20%;

    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 4px;

    text-decoration: none;

    color: #151515;

    font-size: 8px;
}

.item-menu:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.item-menu i {
    font-size: 18px;
}


.item-menu span {
    font-size: 7px;

    color: #a0a0a0;
}


/* =========================================================
   MENU ATIVO
   ========================================================= */

.item-menu.ativo i {
    color: #111111;
}


.item-menu.ativo span {
    color: #1675d1;
}


/* =========================================================
   RESPONSIVIDADE — MENU INFERIOR
   ========================================================= */

@media (min-width: 500px) {

    .menu-inferior {
        position: absolute;

        left: 0;
        bottom: 0;

        transform: none;

        width: 100%;

        border-radius: 0 0 16px 16px;
    }
}