:root {
    --cor-principal: #1A5278;
    --cor-fundo: #f5f7fa;
    --cor-texto: #6b7280;
    --card: #ffffff;
    --azul-escuro: #163a4a;
    --white: #ffffff;
    --placeholder: #9a9a9a;
    --linha: #d9d9d9;
    --erro: #e0392c;
    --black: #000000;
    --status_concluido: #22C55E;
    --hour: #2563EB;
}


