* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    width: 900px;
    display: flex;
    align-items: center;

}

.imagem {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.imagem img {
    width: 320px;
    height: auto;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 25px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}
.form-prin{
    background-color: white;
    padding: 60px;
    border-radius: 6px;

}

input {
    width: 350px;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 20px;

}

.btn {
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: 
}

.mensagem-erro {
    min-height: 20px;
}

.voltar {
    margin-top: 20px;
    text-align: center;
    border-top: #ccccccb3 solid 1px ;
}

.voltar a {
    text-decoration: none;
}

#criar-conta{
    margin-top: 20px;
}