@import url("../../css/style-global.css");

main{
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: var(--cor-principal);
    font-size: 35px;
    margin: 0;
}

p{
    text-align: center;
}



button {
    background-color: var( --cor-principal);
    width: 200px;
    height: 25%;
    border-radius: 10px;
    padding: 10px;
}

button a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    display: flex;
    width: 700;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.logo{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.logo img{
    width: 250px;
}

.logo h1{
    margin: 10px;

}

.logo p{
     color: var(--cor-texto);
     font-size: 16px;
     margin: 0;
 }

.div-icons{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 118px;
    height: 215px;
}

.icon{
    width: 75px;
    height: 75px;
    margin: 0;
}
