@import url("../../css/style-global.css");

main{
    text-align: center;
    height: auto;
    margin: 0 auto;
}

.title{
    color: var(--cor-principal);
    font-size: 35px;
}

.section{
    display: flex;
    height: auto;
    justify-content: center;
    padding: 10px;
}

.logo{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.logo img{
    max-width: 100px;
}

.logo h1{
    margin: 10px;

}

.logo p{
     color: var(--cor-texto);
     font-size: 16px;
     margin: 0;
 }

.div-icons{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 120px;
    min-width: 85px;
    height: 215px;
}

.div-icons p{
    min-width: 75px;
    min-height: 75px;
    padding: 5px;
 }

.icon{
    width: 75px;
    height: 75px;
    margin: 0;
}
